/* los estilos se encuentra divididos en 3 secciones: primero por etiquetas, luego por id 
y por ultimo las clases.
Dentro de cada seccion, se ordenan alfabeticamente.
*/


/*============================           ETIQUETAS              ======================== */

a{
    /*ubicacion*/
    display: inline-block !important;
    /*fuente*/
    text-decoration: none !important;
    color: black !important;
    font-weight: 500 !important;
    font-size: larger !important;
    /*fondo*/
    background-color: rgba(255, 235, 205, 0.561) !important;
    padding: 10px !important;
    margin: 10px !important;
    border-radius: 10% !important;
    
}

a:hover{ 
    color: rgb(83, 95, 67) !important;
    background-color: rgba(255, 235, 205, 0.849) !important;
}

a:active{
    color: black !important;
    background-color: rgba(252, 201, 126, 0.849) !important; 
}

a:visited{
    color: rgb(129, 28, 3) !important;
}

body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    background-image: url(../img/background/trees_sky_background.jpg);
}

h3{
    text-align: center;
}

header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    
    top: 0;
    z-index: 1; 
}

i{
   float: left;  
}

img{
    height: 300px;
    width: 300px;
    border-radius: 1em;
}

section{
    width: 100%;
    max-width: 70%;
    margin: 10px auto;
    border-radius: 1em;
    padding: 1em;
    background-color: rgba(202, 224, 191, 0.9);
}

section div p{
    box-sizing: border-box;
    text-align:justify;
    margin: 40px;
}

section h1{
    display: inline-block;
    width: auto;
    font-size: 3rem;
    margin: 10px;
    
}

/*==========================           IDS              ======================== */

#animation{
    display: inline-block;
    animation-name: giro;
    animation-duration: 2s;
    position: relative;
    animation-timing-function: ease-in;
}
@keyframes giro {
    0%{left: 0px; transform: rotate(20deg);}
    50%{left: 200px; transform: rotate(300deg); color: rgb(138, 190, 140);}
    100%{left: 0px; transform: rotate(0deg);}
}

#iNav{
    margin: 0px 30px;
    padding: 10px;
    display: inline-block;
}

#iFooter{
    padding: 0 5px ;
}

#navegacion{
    float:right;
    margin: 20px 10px 0px 10px;
}

#seccionNavegacion{
    background-color: rgba(94, 121, 81, 0.94);
    scroll-behavior: smooth;
    height: 180px !important;
}

#titulo{
    text-align: center;
}

/*==========================           CLASES              ======================== */

.centrado{
    text-align: center;

}

.docecolumnas{
    grid-column-end: span 12;
}

.form{
    margin: 10px !important;
    padding: 10px !important;
}

.grilla{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(12, 1fr);
}

.justificado{
    text-align: justify;
}

.mapa{
    grid-column-start: 3;
}

.msj{
    padding: 0.1rem;
    margin: 0.1rem;
    color: red;
}

.tarjeta{
    grid-column-end: span 4;
    border-radius: 50%;
    max-width: 50rem;
}