body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1; 
}

section{
    width: 100%;
    max-width: 70%;
    margin: 10px auto;
    border-radius: 1em;
    padding: 1em;
    background-color: rgb(202, 224, 191);
}

section h1{
    display: inline-block;
    width: auto;
    font-size: 3rem;
    background-color: rgba(255, 235, 205, 0.561);
    border-radius: 5%;
    margin: 10px;
    padding: 5px;
}


i{
   float: left;  
}

a{
    /*ubicacion*/
    display: inline-block !important;
    /*fuente*/
    text-decoration: none !important;
    color: black !important;
    font-weight: 500 !important;
    font-size: larger !important;
    /*fondo*/
    background-color: rgba(255, 235, 205, 0.561) !important;
    padding: 10px !important;
    margin: 20px !important;
    border-radius: 10% !important;
    
}

a:hover{ 
    color: rgb(83, 95, 67) !important;
    background-color: rgba(255, 235, 205, 0.849) !important;
}

a:active{
    color: black !important;
    background-color: rgba(252, 201, 126, 0.849) !important; 
}

a:visited{
    color: rgb(129, 28, 3) !important;
}

h3{
    text-align: center;
}

img{
    border-radius: 1em;
}

#seccionNavegacion{
    background-color: rgb(94, 121, 81);
}

#titulo{
    text-align: center;
}

#iNav{
    margin: 10px 50px;
    padding: 10px;
    display: inline-block;
}

#navegacion{
    float:right;
    margin: 20px 10px 0px 10px;
}

#iFooter{
    padding: 0 5px ;
}

.grilla{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(12, 1fr);
}

.docecolumnas{
    grid-column-end: span 12;
}

.tarjeta{
    grid-column-end: span 4;
    border-radius: 50%;
    max-width: 50rem;
}

.centrado{
    text-align: center;

}

.justificado{
    text-align: justify;
}

.mapa{
    grid-column-start: 3;
}
